extends layout2

block content 
  .panel.panel-default
    .panel-heading
      | List of data of inventories   
    .panel-body
      .table-responsive
        table#dataTables-example.table.table-striped.table-bordered.table-hover
          thead
            tr
              th#image          Image 
              th#item           Number of Items available 
              th#room           Room 
              th#materialName   Material Name 
              th#controlNumber  Control Number
              if (user.auth === 'admin')  
                th Actions
          tbody
            for item in tables
              tr
                td
                  img(src="#{item.image}", alt='Image', height="42", width="42")
                td #{item.numberOfItemsAvailable}
                td #{item.room}
                td #{item.materialName}
                td #{item.controlNumber}
                if (user.auth === 'admin')  
                  td 
                    a(href="/admin/delete/#{item._id}") Delete
